/* Gallery container*/
.wrapper-gallery {
    /* margin: 0; */
}

#index-gallery {
    display: grid;
    /* padding: 100px; */
    background: #1c0522;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    grid-template-areas:
        "gallery-h1 gallery-h1 gallery-h1 gallery-h1 gallery-h1"
        "gallery-p gallery-p gallery-p gallery-p gallery-p"
        "gallery-h2 gallery-h2 gallery-h2 gallery-h2 gallery-h2"
        "img3 img1 img2 img4 img5"
        "img13 img15 img6 img7 img8"
        "img9 img10 img11 img12 img14"
        "img16 img17 img18 img19 img20";
}

#index-gallery .gallery-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Images */
#index-gallery h1 {
    grid-area: gallery-h1;
    font-size: 3.5em;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    text-align: center;
}

#index-gallery p {
    grid-area: gallery-p;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

#index-gallery h2 {
    grid-area: gallery-h2;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

#index-gallery .img1 {
    border-radius: 50px;
    grid-area: img1;
    background-image: url("../images/skills/nest.png");
    height: 300px;
}

#index-gallery .img2 {
    border-radius: 50px;
    grid-area: img2;
    background-image: url("../images/skills/node.jpg");
    height: 300px;
}

#index-gallery .img3 {
    border-radius: 50px;
    grid-area: img3;
    background-image: url("../images//skills/js.png");
    /* height: 610px; */
}

#index-gallery .img4 {
    border-radius: 50px;
    grid-area: img4;
    background-image: url("../images/skills/react-native.png");
}

#index-gallery .img5 {
    border-radius: 50px;
    grid-area: img5;
    background-image: url("../images/skills/postgress.png");
    /* object-fit: contain; */
    /* height: 400px; */
}

#index-gallery .img6 {
    border-radius: 50px;
    grid-area: img6;
    background-image: url("../images/skills/html.jpg");
    height: 300px;
}

#index-gallery .img7 {
    border-radius: 50px;
    grid-area: img7;
    background-image: url("../images/skills/css.png");
}

#index-gallery .img8 {
    border-radius: 50px;
    grid-area: img8;
    background-image: url("../images/skills/fsd.png");
}

#index-gallery .img9 {
    border-radius: 50px;
    grid-area: img9;
    background-image: url("../images/skills/tailwind.png");
}

#index-gallery .img10 {
    border-radius: 50px;
    grid-area: img10;
    background-image: url("../images/skills/soft-skills.png");
}

#index-gallery .img11 {
    border-radius: 50px;
    grid-area: img11;
    background-image: url("../images/skills/figma.jpeg");
    height: 300px;
}

#index-gallery .img12 {
    border-radius: 50px;
    grid-area: img12;
    background-image: url("../images/skills/testing.png");
}

#index-gallery .img13 {
    border-radius: 50px;
    grid-area: img13;
    background-image: url("../images/skills/redux.jpg");
}

#index-gallery .img14 {
    border-radius: 50px;
    grid-area: img14;
    background-image: url("../images/skills/zustand.png");
}

#index-gallery .img15 {
    border-radius: 50px;
    grid-area: img15;
    background-image: url("../images/skills/query.png");
}

#index-gallery .img16 {
    border-radius: 50px;
    grid-area: img16;
    background-image: url("../images/skills/reactotron.png");
    height: 300px;
}

#index-gallery .img17 {
    border-radius: 50px;
    grid-area: img17;
    background-image: url("../images/skills/sqlite.png");
    height: 300px;
}

#index-gallery .img18 {
    border-radius: 50px;
    grid-area: img18;
    background-image: url("../images/skills/git.png");
    height: 300px;
}

#index-gallery .img19 {
    border-radius: 50px;
    grid-area: img19;
    background-image: url("../images/skills/JWT.webp");
    height: 300px;
}

#index-gallery .img20 {
    border-radius: 50px;
    grid-area: img20;
    background-image: url("../images/skills/docker.jpeg");
    height: 300px;
}

/*Gallery image titles*/
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: #120429;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img a {
    font-size: 18px;
    color: blanchedalmond;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery-img div:hover {
    border-radius: 50px;
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

.center {
    padding: 1rem;
    max-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: skyblue;
}

/*Pop up window*/

.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;
}


@media (max-width:624px) {
    #index-gallery {
        display: grid;
        margin-left: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'myAreah1 myAreah1 myAreah1'
            'myAreaP myAreaP myAreaP'
            'myAreaimg1 myAreaimg2 myAreaimg9'
            'myAreaimg3 myAreaimg4 myAreaimg10'
            'myAreaimg5 myAreaimg6 myAreaimg11'
            'myAreaimg7 myAreaimg8 myAreaimg12'
            'myAreaimg13 myAreaimg14 myAreaimg15'
            'myAreaimg16 myAreaimg17 myAreaimg18'
            'myAreaimg19 myAreaimg20 myAreaimg21'
        ;
        /* padding: 60px; */
        place-items: center;
    }

    #index-gallery h1 {
        grid-area: myAreah1;
        font-size: 3em;
        align-items: center;
        text-align: center;
    }


    #index-gallery p {
        grid-area: myAreaP;
        align-items: center;
        text-align: center;
    }

    #index-gallery .img1 {
        grid-area: myAreaimg1;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img2 {
        grid-area: myAreaimg2;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img3 {
        grid-area: myAreaimg3;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img4 {
        grid-area: myAreaimg4;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img5 {
        grid-area: myAreaimg5;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img6 {
        grid-area: myAreaimg6;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img7 {
        grid-area: myAreaimg7;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img8 {
        grid-area: myAreaimg8;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img9 {
        grid-area: myAreaimg9;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img10 {
        grid-area: myAreaimg10;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img11 {
        grid-area: myAreaimg11;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img12 {
        grid-area: myAreaimg12;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img13 {
        grid-area: myAreaimg13;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img14 {
        grid-area: myAreaimg14;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img15 {
        grid-area: myAreaimg15;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img16 {
        grid-area: myAreaimg16;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img17 {
        grid-area: myAreaimg17;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img18 {
        grid-area: myAreaimg18;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img19 {
        grid-area: myAreaimg19;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    #index-gallery .img20 {
        grid-area: myAreaimg20;
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

}

@media (min-width:625px) and (max-width:1023px) {
    #index-gallery {
        display: grid;
        margin-left: 90px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'myAreah1 myAreah1 myAreah1'
            'myAreaP myAreaP myAreaP'
            'myAreaimg1 myAreaimg2 myAreaimg9'
            'myAreaimg3 myAreaimg4 myAreaimg10'
            'myAreaimg5 myAreaimg6 myAreaimg11'
            'myAreaimg7 myAreaimg8 myAreaimg12'
            'myAreaimg13 myAreaimg14 myAreaimg15'
            'myAreaimg16 myAreaimg17 myAreaimg18'
            'myAreaimg19 myAreaimg20 myAreaimg21'
        ;
        padding: 60px;
    }

    #index-gallery h1 {
        grid-area: myAreah1;
        font-size: 3em;
        align-items: center;
        text-align: center;
    }


    #index-gallery p {
        grid-area: myAreaP;
        align-items: center;
        text-align: center;
    }

    #index-gallery .img1 {
        grid-area: myAreaimg1;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img2 {
        grid-area: myAreaimg2;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img3 {
        grid-area: myAreaimg3;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img4 {
        grid-area: myAreaimg4;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img5 {
        grid-area: myAreaimg5;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img6 {
        grid-area: myAreaimg6;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img7 {
        grid-area: myAreaimg7;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img8 {
        grid-area: myAreaimg8;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img9 {
        grid-area: myAreaimg9;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img10 {
        grid-area: myAreaimg10;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img11 {
        grid-area: myAreaimg11;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img12 {
        grid-area: myAreaimg12;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img13 {
        grid-area: myAreaimg13;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img14 {
        grid-area: myAreaimg14;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img15 {
        grid-area: myAreaimg15;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img16 {
        grid-area: myAreaimg16;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img17 {
        grid-area: myAreaimg17;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img18 {
        grid-area: myAreaimg18;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img19 {
        grid-area: myAreaimg19;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }

    #index-gallery .img20 {
        grid-area: myAreaimg20;
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }
}